@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Almarai&family=K2D:wght@500&family=Kodchasan&family=Mulish:wght@500;600;700;800;900;1000&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  padding-right: 0 !important;
}

a {
  text-decoration: none;
  transition: 0.3s all ease;
}

.btn-common {
  white-space: nowrap;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 750;
  padding: 1.2% 4.3%;
  z-index: 1;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .btn-common {
    padding: 1.2% 3.9%;
  }
}

.btn-transparent {
  white-space: nowrap;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 750;
  padding: 1.2% 4.3%;
  z-index: 1;
  color: #000000;
  background-color: transparent;
  border: 2px solid #898989;
}
@media screen and (max-width: 1200px) {
  .btn-transparent {
    padding: 1.2% 3.9%;
  }
}

.btn-next-product {
  border: none;
  background-color: transparent;
  z-index: 2;
}

.btn-wishlist {
  max-height: 16px;
  background-color: transparent;
  border: none;
}

.title-text {
  font-size: 175%;
  font-weight: 750;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 80%;
  }
}
.products-box-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  width: 100%;
  max-width: 1354px;
}

.products-middle-style {
  display: flex;
  justify-content: space-between;
  gap: 1%;
  margin: 0;
  padding: 0;
  width: auto;
  max-width: 1234px;
}

.item-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  max-width: 294px;
}
.item-block__top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 86%;
  max-width: 252px;
}
.item-block__top-gender {
  text-align: center;
  margin: 0;
  padding: 1% 2.5%;
  max-height: 20px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 0.6rem;
  font-weight: 900;
  color: #fff;
  background-color: #774C7D;
}
.item-block__img {
  width: 100%;
  max-width: 250px;
}
.item-block__content {
  text-align: center;
}
.item-block__content-name {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 750;
}
.item-block__content-brand {
  margin: 0;
  color: #898989;
  font-size: 0.75rem;
  font-weight: 400;
}
.item-block__content-text-underline {
  text-decoration: underline;
}
.item-block__content-type {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 300;
  padding: 0.8rem 0;
}
.item-block__content-price {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 150%;
  vertical-align: text-bottom;
  padding-bottom: 1rem;
}
.item-block__content-price-bold {
  margin: 0;
  font-size: 1.05rem;
  font-weight: 750;
  letter-spacing: 0.1rem;
}
.item-block__add {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 252px;
}
.item-block__add-btn {
  white-space: nowrap;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 750;
  line-height: 1rem;
  padding: 6% 30%;
  color: #000000;
  background-color: transparent;
  border: 1px solid #C4C4C4;
  max-width: 252px;
}

@media screen and (max-width: 1200px) {
  .products-box-style {
    max-width: 1234px;
  }
}
.navbar-top {
  background-color: #4d2952;
  font-size: 100%;
  font-weight: 400;
  color: #fff;
  padding: 12px 40px 12px 28px;
  white-space: nowrap;
}
.navbar-top__nav {
  display: inline-flex;
  white-space: nowrap;
  gap: 1.5rem;
}
.navbar-top__item {
  display: inline-block;
}
.navbar-top__items-name {
  display: inline-block;
  font-weight: 400;
  color: #fff;
}
.navbar-top__dropdown-menu {
  border: 1px solid #4d2952;
}

.navbar-middle {
  padding: 24px 40px 24px 28px;
}
.navbar-middle__search {
  position: relative;
}
.navbar-middle__hamburger {
  display: none;
}
.navbar-middle__search-input {
  width: 100%;
  height: 10vh;
  max-height: 46px;
  padding-left: 29px;
  border-radius: 29px;
  border: 1px solid #e5e5e5;
  font-size: 95%;
}
.navbar-middle__search-input:focus {
  transition: none;
  outline: none;
}
.navbar-middle__search-input:focus::placeholder {
  color: transparent;
}
.navbar-middle__search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 1;
  top: 19%;
  right: 4%;
}
.navbar-middle__logo {
  max-height: 38px;
}
.navbar-middle__logo-brand {
  max-height: 39px;
  padding-left: 0.5%;
}
.navbar-middle__logo-name {
  font-family: "Kodchasan", sans-serif;
  color: #4d2952;
  font-size: 2rem;
  line-height: 1.6rem;
}
.navbar-middle__logo-name-domain {
  font-family: "K2D", sans-serif;
  font-size: 1.1rem;
}
.navbar-middle__logo-since {
  font-family: "Almarai", sans-serif;
  color: #585858;
  font-size: 0.8rem;
  line-height: 0.35rem;
}
.navbar-middle__client-data-nav {
  display: flex;
  justify-content: end;
  align-content: center;
  gap: 1.5rem;
  list-style: none;
}
.navbar-middle__client-data-button {
  background-color: transparent;
  border: none;
  padding: 0;
}
.navbar-middle__client-cart-items {
  color: #000000;
  font-size: 90%;
  font-weight: 450;
  padding-top: 3%;
}
.navbar-middle__client-data-link {
  color: #000000;
  font-size: 90%;
  font-weight: 450;
  padding-top: 3%;
}

.navbar-bottom__nav {
  display: inline-flex;
  justify-content: space-between;
  max-width: 1100px;
  gap: auto;
  padding: 22px 16px;
}
.navbar-bottom__item {
  list-style: none;
}
.navbar-bottom__link {
  color: #000000;
  font-size: 90%;
  font-weight: 450;
  text-transform: uppercase;
}
.navbar-bottom__offcanvas-menu {
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.navbar-bottom__offcanvas-menu-title {
  padding-bottom: 10% !important;
}
.navbar-bottom__offcanvas-menu-container {
  gap: 25%;
  width: 60%;
  max-width: 1100px;
  max-height: 65%;
  padding-top: 0.5%;
  margin-bottom: 1.7%;
}
.navbar-bottom__offcanvas-menu-button {
  max-width: 30%;
  align-self: center;
  padding: 0.5% 2.53%;
}
.navbar-bottom__offcanvas-menu-close-btn {
  position: absolute;
  top: 110%;
  left: 50vw;
  margin-left: -0.9%;
  background-color: #fff;
  width: 2%;
  height: 12%;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  .offcanvas {
    transition: 0s;
  }
  .offcanvas.hiding, .offcanvas.showing, .offcanvas.show, .offcanvas-backdrop {
    position: absolute;
    top: 205px;
  }
  .offcanvas.show {
    transform: translateY(0);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .navbar-middle__search-input {
    width: 100%;
    max-height: 36px;
  }
  .navbar-middle__search-button {
    top: 13%;
    right: 6%;
  }
  .navbar-middle__client-data-nav {
    gap: 0.7rem;
  }
  .navbar-middle__client-data-link {
    padding-top: 4%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-top {
    font-size: 0.7rem;
    font-weight: 200;
    padding: 8px 15px 8px 15px;
    border-bottom: 1px solid #774C7D;
  }
  .navbar-top__nav {
    gap: calc(1rem - 0.5vw);
  }
  .navbar-top__item {
    font-size: 0.7rem;
  }
  .navbar-top__item-name {
    font-weight: 300;
  }
  .navbar-top__item-option {
    font-size: 0.7rem;
  }
  .navbar-middle {
    background-color: #4d2952;
    padding: 16px;
  }
  .navbar-middle__search-input {
    display: none;
  }
  .navbar-middle__search-input:focus {
    transition: none;
  }
  .navbar-middle__hamburger {
    padding: 0;
    display: initial;
    background-color: transparent;
    border: none;
    width: 10%;
  }
  .navbar-middle__hamburger-icon {
    width: 100%;
    padding-bottom: 3%;
  }
  .navbar-middle__search-button {
    padding: 0;
    position: static;
    width: 12%;
  }
  .navbar-middle__collapse-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 99vw;
    margin-left: -7%;
    margin-top: 4%;
    margin-bottom: -16px;
    padding-bottom: 2.5%;
    padding-top: 2%;
    padding-inline: 6%;
    border-bottom: 1px solid #4d2952;
  }
  .navbar-middle__collapse-menu-placeholder {
    width: 70%;
    height: 6%;
    padding: 1% 0;
    border: none;
  }
  .navbar-middle__collapse-menu-placeholder:focus {
    transition: none;
    outline: none;
  }
  .navbar-middle__collapse-menu-placeholder:focus::placeholder {
    color: transparent;
  }
  .navbar-middle__collapse-menu-button {
    background-color: #4d2952;
    line-height: 0.9rem;
    font-weight: 600;
    padding: 1.3% 4% 1% 4%;
  }
  .navbar-middle__logo {
    max-height: 27px;
    gap: 1%;
  }
  .navbar-middle__logo-image {
    width: 68%;
  }
  .navbar-middle__logo-brand {
    max-height: 27px;
  }
  .navbar-middle__logo-name {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1rem;
  }
  .navbar-middle__logo-name-domain {
    font-size: 0.6rem;
    letter-spacing: 0.05rem;
  }
  .navbar-middle__logo-since {
    color: #fff;
    font-size: 0.5rem;
    line-height: 0.35rem;
  }
  .navbar-middle__client-data-nav {
    padding: 1.5% 0 0 0;
    gap: calc(1.5rem - 2vw);
  }
  .navbar-middle__client-data-icon {
    width: 83%;
  }
  .navbar-middle__client-cart-items {
    position: absolute;
    display: block;
    color: #fff;
    background-color: #BE5B75;
    padding: 2.9% 0 0 1%;
    font-size: 70%;
    width: 60%;
    border-radius: 50%;
    top: -10%;
    right: -10%;
  }
  .navbar-middle__client-data-link {
    display: none;
  }
  .navbar-bottom__offcanvas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4d2952;
    color: #fff;
  }
  .navbar-bottom__offcanvas-image {
    max-width: 7%;
  }
  .navbar-bottom__offcanvas-title {
    font-size: 1rem;
    font-weight: 400;
  }
  .navbar-bottom__nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    background-color: rgb(236, 236, 236);
  }
  .navbar-bottom__link {
    display: flex;
    align-items: center;
    height: 3rem;
    width: 100%;
    font-size: 100%;
    font-weight: 600;
    padding-inline: 16px;
    color: #383838;
    background-color: #fff;
    border-bottom: 1px solid rgb(236, 236, 236);
    text-transform: capitalize;
  }
}
.special-offer {
  padding: 0;
  font-weight: 750;
  letter-spacing: 0.05rem;
}
.special-offer__flex {
  background-color: #ffe8f0;
  gap: 3.5rem;
}
.special-offer__link {
  color: #000000;
  font-weight: 600;
  text-decoration: underline;
  letter-spacing: normal;
}
.special-offer__middle {
  font-size: 0.8rem;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 100%;
  padding-top: 0.3%;
}

.carousel-frame {
  padding: 0;
}
.carousel-frame__flex {
  padding: 0.8% 0;
}

.carousel-frame-top {
  justify-content: space-between;
  max-width: 1354px;
}
.carousel-frame-top__carousel-image {
  width: 93%;
  max-width: 1234px;
}
.carousel-frame-top__image {
  max-width: 100%;
}
.carousel-frame-top__btn-image {
  color: #fff;
  background-color: #BE5B75;
  left: 21.3%;
  bottom: 16%;
}

.carousel-frame-bottom {
  width: 6.1%;
  padding-top: 0.4%;
}
.carousel-frame-bottom__pagination {
  margin: 0;
  cursor: pointer;
  width: 100%;
  max-width: 120px;
}
.carousel-frame-bottom__pagination-image {
  width: 100%;
  max-width: 39px;
}

.search-for-brand {
  padding: 0;
  margin: 0;
}
.search-for-brand__flex {
  max-width: 1234px;
}
.search-for-brand__image {
  width: 100%;
  max-width: 1234px;
}
.search-for-brand__btn-image {
  background-color: #4d2952;
  left: 7.8%;
  bottom: 27%;
}

@media screen and (max-width: 1200px) {
  .special-offer__middle {
    padding-top: 0.55%;
  }
  .carousel-frame-top {
    justify-content: center;
    max-width: 1234px;
  }
  .carousel-frame-top__carousel-image {
    width: 100%;
  }
  .carousel-frame-top__btn-left {
    position: absolute;
    top: 35%;
    left: 1%;
  }
  .carousel-frame-top__btn-right {
    position: absolute;
    top: 35%;
    right: 1%;
  }
}
.our-collection {
  padding: 0;
  max-width: 1234px;
}
.our-collection__top {
  padding: 4% 0;
}
.our-collection__title {
  padding-bottom: 0.8%;
}
.our-collection__btn {
  color: #000000;
  background-color: transparent;
}
.our-collection__navigation {
  padding: 0;
}
.our-collection__navigation-row {
  padding: 1.5% 0;
  width: 100%;
  height: 100vh;
  max-width: 1234px;
  max-height: 651px;
  row-gap: 4%;
}
.our-collection__navigation-block {
  position: relative;
  width: 32%;
  max-width: 391px;
  height: 49%;
  max-height: 316px;
  overflow: hidden;
}
.our-collection__navigation-img {
  position: absolute;
  width: 93%;
  max-width: 360px;
  right: -25%;
  bottom: -20%;
}
.our-collection__navigation-content {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  position: absolute;
  z-index: 1;
  padding-top: 34.3%;
}
.our-collection__navigation-content-link {
  color: white;
  font-size: 0.9rem;
  text-decoration: underline;
  letter-spacing: normal;
}

.recommended {
  padding: 2% 0;
}
.recommended__top {
  padding: 1% 0;
}

@media screen and (max-width: 1200px) {
  .recommended-middle__btn {
    display: none;
  }
}
.new-arrivals-top {
  padding: 1% 0;
}

@media screen and (max-width: 1200px) {
  .new-arrivals-middle__btn {
    display: none;
  }
}
.subscription {
  padding: 0;
}

.subscription-top {
  max-width: 1234px;
  padding: 0;
}
.subscription-top__image {
  padding: 0;
  width: 100%;
  max-width: 1234px;
}
.subscription-top__btn {
  border: 2px solid #000000;
  left: 7%;
  bottom: 23%;
  width: initial;
  font-size: 0.8rem;
}

.subscription-bottom {
  max-width: 1234px;
  padding: 0;
}
.subscription-bottom__left {
  padding: 0;
}
.subscription-bottom__right {
  padding: 0;
}
.subscription-bottom__image {
  width: 100%;
}
.subscription-bottom__left-btn {
  background-color: #BE5B75;
  left: 8.8%;
  bottom: 14%;
}
.subscription-bottom__right-btn {
  background-color: #4d2952;
  left: 8.8%;
  bottom: 14%;
}

.best-sellers-top {
  padding: 2% 0;
}

@media screen and (max-width: 1200px) {
  .best-sellers-middle__btn {
    display: none;
  }
}
.security-row {
  width: 100%;
  height: 100%;
  gap: 6%;
  background-color: #4d2952;
  margin-top: 3%;
}
.security-row__delivery {
  max-width: 100%;
  max-height: 100%;
}

.security-box {
  display: flex;
  align-content: center;
  white-space: nowrap;
  gap: 5%;
  color: #fff;
}
.security-box__image {
  max-height: 20px;
}
.security-box__content {
  margin: 0;
  font-size: 0.9rem;
}

@media screen and (max-width: 1200px) {
  .security-box__content {
    font-size: calc(0.9rem - 0.4vw);
  }
}
.sign-up {
  background-color: #F5F6F6;
  border-bottom: 1px solid #CCCCCC;
  max-height: 264px;
}

.sign-up-left {
  border-right: 1px solid #CCCCCC;
  padding: 2.4% 4.8%;
}
.sign-up-left__title {
  font-size: 1rem;
  font-weight: 750;
  margin: 0;
}
.sign-up-left__input {
  color: #898989;
}
.sign-up-left__input-data {
  width: 40%;
  max-width: 286px;
  border: none;
  border-bottom: 2px solid #000000;
  padding: 0.5rem 0 0.5rem 0.5rem;
  max-height: 48px;
}
.sign-up-left__input-btn {
  max-height: 42px;
  line-height: 0.8rem;
}
.sign-up-left__content {
  max-width: 760px;
  font-size: 0.67rem;
  margin: 0;
}
.sign-up-left__content-underline {
  color: #000000;
  text-decoration: underline;
}

.sign-up-right {
  padding: 2.4% 4.8%;
}
.sign-up-right__title {
  font-size: 1rem;
  font-weight: 750;
  margin: 0;
  padding-bottom: 0.4rem;
}
.sign-up-right__bottom-content {
  text-transform: uppercase;
  margin: 0;
}

.footer-top-row {
  width: 100%;
  padding: 3% 4.3%;
  gap: 6%;
}

.footer-top-left {
  max-width: 905px;
  height: 45vh;
  max-height: 340px;
}

.menu-title {
  font-size: 1rem;
  font-weight: 750;
  margin: 0;
  padding-bottom: 13%;
}

.menu-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 15%;
  color: #383838;
  font-weight: 400;
  line-height: 190%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 87%;
  max-height: 280px;
  width: auto;
}

.menu-link {
  color: #383838;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 200%;
  text-decoration: none;
}

.footer-icon {
  max-width: 460px;
  max-height: 195px;
}
.footer-icon__social-media-btn {
  background-color: transparent;
  border: none;
  max-width: 40px;
}
.footer-icon__change-country-dropdown {
  color: #000000;
}
.footer-icon__subscription-club-btn {
  background-color: transparent;
  border: 1px solid #898989;
  padding: 0.5rem 1.1rem;
}
.footer-icon__subscription-club-link {
  color: #000000;
  letter-spacing: 0.5%;
}

@media screen and (max-width: 1200px) {
  .menu-title {
    font-size: calc(1rem - 0.3vw);
    padding-bottom: 13%;
  }
  .menu-link {
    font-size: calc(0.8rem - 0.3vw);
  }
}
.footer-end {
  background-color: #000000;
  color: #fff;
  line-height: 150%;
}
.footer-end__top-link {
  color: #fff;
  text-decoration: underline;
}
.footer-end__middle-content {
  max-width: 727px;
  font-weight: 400;
  font-size: 0.69rem;
  line-height: 150%;
}

@media screen and (max-width: 1200px) {
  .footer-end__middle-content {
    font-size: calc(0.69rem - 0.3vw);
  }
}