.special-offer {
  font-weight: 750;
  letter-spacing: 0.05rem;

  &__flex {
    background-color: $rose;
    padding: 0.3% 0;
    gap: 3.5rem;
  }

  &__link {
    color: $black;
    font-weight: 600;
    text-decoration: underline;
    letter-spacing: normal;
  }

  &__middle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    width: 2rem;
    height: 2rem;
    background-color: $white;
    border-radius: 100%;
  }
}

.carousel-frame {

  &__flex{
    padding: 0.8% 0;
  }
}

.carousel-frame-top {
  max-width: 1354px;

  &__image {
    max-width: 100%;
  }

  &__btn-image-first {
    color: $white;
    background-color: $dark_rose;
    left: 21%;
    bottom: 16%;
  }
  
  &__btn-image-second {
    color: $black;
    background-color: $button_gray;
    left: 21%;
    bottom: 16%;
  }

  &__btn-left {
    margin-left: -5%;
  }

  &__btn-right {
    margin-right: -5%;
  }

  &__carousel-hearts-image {
    position: absolute;
    top: -22px;
    left: 1%;
    z-index: 2;
    width: 2%;
    animation: heart 5s linear infinite;
  }

  &__carousel-hearts-image:nth-child(2n) {
    left: 5%;
    transform: rotate(-25deg);
    animation-delay: 1.5;
  }

  &__carousel-hearts-image:nth-child(3n) {
    left: 10%;
    transform: rotate(-30deg);
    animation-delay: 3.5s;
  }  
  
  &__carousel-hearts-image:nth-child(4n) {
    left: 15%;
    transform: rotate(-10deg);
    animation-delay: 2.5s;
  }  
  
  &__carousel-hearts-image:nth-child(5n) {
    left: 20%;
    transform: rotate(25deg);
    animation-delay: 1s;
  }

  &__carousel-hearts-image:nth-child(6n) {
    left: 25%;
    transform: rotate(35deg);
    animation-delay: 3s;
  }  
  
  &__carousel-hearts-image:nth-child(7n) {
    left: 35%;
    transform: rotate(35deg);
    animation-delay: 0.5s;
  }

  &__carousel-hearts-image:nth-child(8n) {
    left: 40%;
    transform: rotate(45deg);
    animation-delay: 2s;
  }

  &__carousel-hearts-image:nth-child(9n) {
    left: 45%;
    transform: rotate(50deg);
    animation-delay: 4s;
  }
}

@keyframes heart {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 100%;
  }
}

.search-for-brand {

  &__flex {
    max-width: 1234px;
  }
  
  &__image {
    max-width: 100%;
    max-height: 223px;
  }

  &__btn-image {
    background-color: $primary;
    left: 7.8%;
    bottom: 20%;
  }
}

@media screen and (max-width: 1200px){
  .carousel-frame-top {

    justify-content: center;
    max-width: 1234px;

    &__carousel-image {
    width: 100%;
    }

    &__btn-image-first, &__btn-image-second {
      left: 21%;
    }
  }
}

@media screen and (max-width: 1024px){
  .special-offer {

    &__flex {
      padding: 1.5% 0;
    }

    &__right {
      line-height: 0.8rem;
    }
    
    &__middle, &__right {
      display: none;
    }
  }

  .carousel-frame-top {
  
    &__btn-sides-images {
      max-width: 70%;
    }

    &__btn-image-first, &__btn-image-second  {
      left: 21.3%;
      bottom: 16%;
    }
  }

  .search-for-brand {

    &__btn-image {
      bottom: 15%;
    }
  }
}

@media screen and (max-width: 768px) {
  .special-offer {

    &__flex {
      padding: 1.7% 0;
    }
  }

  .carousel-frame-top {

    &__carousel-indicators {
      margin-bottom: 0.5%;
      margin-inline: auto;
    }

    &__carousel-indicator {
      max-width: 20px;
      max-height: 2px;
    }

    &__btn-left {
      margin-left: -3%;
    }
  
    &__btn-right {
      margin-right: -3%;
    }
  }
}

@media screen and (max-width: 375px) {
  .carousel-frame-top {

    &__carousel-indicators {
      margin-bottom: 0.2%;
    }

    &__carousel-indicator {
      max-width: 10px;
      max-height: 2px;
    }

    &__btn-left, &__btn-right {
      max-width: 5%;
      margin: 0;
    }
  }
}