.special-offer {
  font-weight: 750;
  letter-spacing: 0.05rem;

  &__flex {
    background-color: $rose;
    padding: 0.3% 0;
    gap: 3.5rem;
  }

  &__link {
    color: $black;
    font-weight: 600;
    text-decoration: underline;
    letter-spacing: normal;
  }

  &__middle {
    font-size: 0.8rem;
    width: 2rem;
    height: 2rem;
    background-color: $white;
    border-radius: 100%;
    padding-top: 0.3%;
  }
}

.carousel-frame {

  &__flex{
    padding: 0.8% 0;
  }
}

.carousel-frame-top {
  max-width: 1354px;

  &__carousel-image {
    width: 93%;
    max-width: 1234px;
}

  &__image {
    max-width: 100%;
  }

  &__btn-image {
    color: $white;
    background-color: $dark_rose;
    left: 24%;
    bottom: 16%;
  }
}

.carousel-frame-bottom {
width: 6.1%;
padding-top: 0.4%;

  &__pagination {
  margin: 0;
  cursor: pointer;
  max-width: 120px;
  }

  &__pagination-image {
    width: 100%;
    max-width: 39px;
  }
}

.search-for-brand {

  &__flex {
    max-width: 1234px;
  }
  
  &__image {
    max-width: 100%;
    max-height: 223px;
  }

  &__btn-image {
    background-color: $primary;
    left: 7.8%;
    bottom: 20%;
  }
}

  @media screen and (max-width: 1200px){
  .special-offer {

    &__middle {
    padding-top: 0.55%;
    }
  }

  .carousel-frame-top {
    justify-content: center;
    max-width: 1234px;

    &__carousel-image {
    width: 100%;
    }

    &__btn-left, &__btn-right {
      position: absolute;
      top: 35%;
    }

    &__btn-left {
      left: 1%;    
    }

    &__btn-right {
      right: 1%;    
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .special-offer {

    &__flex {
      padding: 1.5% 0;
    }

    &__right {
        line-height: 0.8rem;
    }
    
    &__middle, &__right {
      display: none;
    }
  }

  .carousel-frame-top {
  
    &__btn-sides-images {
      margin-top: 10%;
      width: 60%;
    }

    &__btn-image {
      left: 21.3%;
      bottom: 16%;
      }
  }

  .search-for-brand {

    &__btn-image {
      bottom: 15%;
    }
  }
}