.security-row {
  width: 100%;
  height: 100%;
  gap: 6%;
  background-color: $primary;
  margin-top: 3%;

  &__delivery {
    max-width: 100%;
    max-height: 100%;
  }
}

.security-box {
  display: flex;
  align-content: center;
  white-space: nowrap;
  gap: 5%;
  color: $white;

  &__image {
    max-height: 20px;
  }

  &__content {
    margin: 0;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1200px){
  .security-box {

    &__content {
      font-size: calc(0.9rem - 0.4vw);
    }
  }
}

.sign-up {
  background-color: $sign-up;
  border-bottom: 1px solid #CCCCCC;
  max-height: 264px;
}

.sign-up-left {
  border-right: 1px solid #CCCCCC;
  padding: 2.4% 4.8%;

  &__title {
    font-size: 1rem;
    font-weight: 750;
    margin: 0;
  }

  &__input {

    color: $button_gray;
  }

  &__input-data {
    width: 40%;
    max-width: 286px;
    border: none;
    border-bottom: 2px solid $black;
    padding: 0.5rem 0 0.5rem 0.5rem;
    max-height: 48px;
  }


  &__input-btn {
    max-height: 42px;
    line-height: 0.8rem;
  }

  &__content {
    max-width: 760px;
    font-size: 0.67rem;
    margin: 0;
  }

  &__content-underline {
  color: $black;
  text-decoration: underline;
  }
}

.sign-up-right {
  padding: 2.4% 4.8%;

  &__title {
    font-size: 1rem;
    font-weight: 750;
    margin: 0;
    padding-bottom: 0.4rem;
  }
  
  &__bottom-content {
    text-transform: uppercase;
    margin: 0;
  }
}