@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

.products-box-style {
  @include flex-between;
  align-items: center;
  margin-inline: auto;
  width: 100%;
  max-width: 1354px;
}

.products-middle-style {
  @include flex-between;
  gap: 1%;
  margin: 0;
  padding: 0;
  width: auto;
  max-width: 1234px;
}

.item-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  max-width: 294px;

  &__top {
    @include flex-between;
    align-items: baseline;
    width: 86%;
    max-width: 252px;
  }

  &__top-gender {
    text-align: center;
    margin: 0;
    padding: 1% 2.5%;
    max-height: 20px;
    text-align: center;
    font-family: $font-item-block;
    font-size: 0.6rem;
    font-weight: 900;
    color: $white;
    background-color: $item-block-gender;

  }

  &__img {
    width: 100%;
    max-width: 250px;
  }

  &__content {
    text-align: center;

  }

  &__content-name {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 750;
  }

  &__content-brand {
    margin: 0;
    color: $button_gray;
    font-size: 0.75rem;
    font-weight: 400;
  }

  &__content-text-underline {
    text-decoration: underline;
  }

  &__content-type {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 300;
    padding: 0.8rem 0;
  }

  &__content-price {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 150%;
    vertical-align: text-bottom;
    padding-bottom: 1rem;
  }

  &__content-price-bold{
    margin: 0;
    font-size: 1.05rem;
    font-weight: 750;
    letter-spacing: 0.1rem;
  }

  &__add {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 252px;
  }

  &__add-btn {
    white-space: nowrap;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 750;
    line-height: 1rem;
    padding: 6% 30%;
    color: $black;
    background-color: transparent;
    border: 1px solid #C4C4C4;
    max-width: 252px;
  }
}

@media screen and (max-width: 1200px){
  .products-box-style {
    max-width: 1234px;
  }
}