@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.products-box-style {
  @include flex-between;
  align-items: center;
  margin-inline: auto;
  width: 100%;
  max-width: 1354px;
}

.products-middle-style {
  @include flex-between;
  gap: 1%;
  margin: 0;
  padding: 0;
  width: auto;
  max-width: 1234px;
}

.item-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  max-width: 252px;

  &__top {
    @include flex-between;
    align-items: baseline;
    width: 100%;
    max-width: 252px;
  }

  &__top-gender {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1.5% 2.5% 1.9% 2.5%;
    max-height: 20px;
    font-family: $font-item-block;
    font-size: 0.6rem;
    line-height: 0.6rem;
    font-weight: 900;
    color: $white;
    background-color: $item-block-gender;
  }

  &__img {
    width: 100%;
    max-width: 250px;
    max-height: 220px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__content-name {
    text-align: center;
    margin: 0 auto;
    font-size: 0.8rem;
    font-weight: 750;
  }

  &__content-brand {
    margin: 0;
    color: $button_gray;
    font-size: 0.75rem;
    font-weight: 400;
  }

  &__content-text-underline {
    text-decoration: underline;
  }

  &__content-type {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 300;
    padding: 0.8rem 0;
  }

  &__content-price {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 150%;
    vertical-align: text-bottom;
    padding-bottom: 1rem;
  }

  &__content-price-bold{
    margin: 0;
    font-size: 1.05rem;
    font-weight: 750;
    letter-spacing: 0.1rem;
  }

  &__add {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 260px;
    border: 1px solid #C4C4C4;
  }

  &__add-btn {
    white-space: nowrap;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 750;
    line-height: 1rem;
    padding: 6% 0;
    color: $black;
    background-color: transparent;
    max-width: 100%;
  }
}

@media screen and (max-width: 1200px){
  .products-box-style {
    max-width: 1234px;
  }
}

@media screen and (max-width: 1024px) {
  .item-block {
    width: 24%;
    max-width: 294px;
  
    &__top {
      width: 100%;
      max-width: 252px;
    }
  
    &__top-gender {
      padding: 1.3% 2% 1.6% 2%;
      font-size: 0.5rem;
      font-weight: 700;
      line-height: 0.45rem;
    }
  
    &__content-name {
      width: 85%;
    }
  
    &__content-price {
      padding-bottom: 0.5rem;
    }
  
    &__content-price-bold{
      font-size: 1rem;
    }
  
    &__add {
      width: 100%;
    }
  
    &__add-btn {
      padding: 8% 0;
    }
  }
}

@media screen and (max-width: 768px) {

  .products-middle-style {
    flex-wrap: wrap;
    row-gap: 2rem;
    padding: 0 6%;
  }

  .item-block {
    width: 46%;
    max-width: 350px;
    
    &__top-gender {
      padding: 1% 2%;
      font-size: 0.6rem;
      line-height: 0.7rem;
    }
  
    &__content-name {
      font-size: 1rem;
    }

    &__content-brand {
      font-size: 0.8rem;
    }

    &__content-type {
      font-size: 0.8rem;
      font-weight: 400;
      padding: 0.4rem 0;
    }
  
    &__content-price {
      font-size: 0.8rem;
    }
  
    &__content-price-bold{
      font-size: 1.2rem;
    }
  
    &__add {
      border: 2px ridge #C4C4C4;    
    }

    &__add-btn {
      font-size: 1rem;
      font-weight: 800;
    }
  }
}

@media screen and (max-width: 576px) {

  .item-block {
  
    &__top {
      margin-bottom: -5%;
      z-index: 1;
    }
  
    &__top-gender {
      padding: 1.5% 2.5%;
      font-size: 0.45rem;
      line-height: 0.5rem;
      font-weight: 700;
    }
  
    &__content-name {
      font-size: 0.7rem;
      font-weight: 750;
    }

    &__content-brand {
      font-size: 0.6rem;
    }

    &__content-type {
      font-size: 0.6rem;
    }
  
    &__content-price {
      font-size: 0.6rem;
      font-weight: 400;
    }
  
    &__content-price-bold{
      font-size: 0.85rem;
    }
  
    &__add-btn {
      font-size: 0.7rem;
      font-weight: 750;
    }
  }
}

@media screen and (max-width: 375px) {

  .item-block {
  
    &__top-gender {
      font-size: 0.35rem;
      line-height: 0.3rem;
      font-weight: 600;
      padding: 1% 2.5%  2% 2.5%;
    }
  
    &__content-name {
      font-size: 0.6rem;
      font-weight: 600;
    }

    &__content-brand {
      font-size: 0.5rem;
    }

    &__content-type {
      font-size: 0.5rem;
    }
  
    &__content-price {
      font-size: 0.5rem;
      font-weight: 400;
    }
  
    &__content-price-bold{
      font-size: 0.75rem;
    }
  
    &__add-btn {
      font-size: 0.5rem;
      font-weight: 600;
    }
  }
}