$white: #fff;
$black: #000000;
$primary: #4d2952;
$rose: #ffe8f0;
$dark_rose: #BE5B75;
$button_gray: #898989;
$item-block-gender: #774C7D;

$font-family: "Montserrat", sans-serif;
$font-brand-since: "Almarai", sans-serif;
$font-brand-domain: "K2D", sans-serif;
$font-brand-main: "Kodchasan", sans-serif;
$font-item-block: "Mulish", sans-serif;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;