// variables & functions
@import 'variables';

// base & layout
@import 'base';
@import 'product-blocks';

// header styles
@import 'header';


.special-offer {
  padding: 0;
  font-weight: 750;
  letter-spacing: 0.05rem;

  &__flex {
    background-color: $rose;
    gap: 3.5rem;
  }

  &__link {
    color: $black;
    font-weight: 600;
    text-decoration: underline;
    letter-spacing: normal;
  }

  &__middle {
    font-size: 0.8rem;
    width: 2rem;
    height: 2rem;
    background-color: $white;
    border-radius: 100%;
    padding-top: 0.4%;
  }
}

.carousel-frame {
  padding: 0;
}

.carousel-frame-top {
  max-width: 1354px;

  &__image {
    max-width: 1234px;
  }

  &__btn-image {
    color: $white;
    background-color: $dark_rose;
    left: 21.3%;
    bottom: 16%;
    }
  }

.carousel-frame-bottom {
  &__pagination {
  margin: 0;
  cursor: pointer;
  }
}

.search-for-brand {
  padding: 0;
  margin: 0;

  &__btn-image {
    background-color: $primary;
    left: 23%;
    bottom: 25%;
  }
}

.our-collection {
  padding: 0;
  max-width: 1234px;

  &__btn {
    color: $black;
    background-color: transparent;
  }

  &__navigation {
    padding: 0;
    max-width: 1234px;
  }
  
  &__navigation-block {
    position: relative;
    width: 391px;
    height: 316px;
    overflow: hidden;
  }

  &__navigation-img {
    position: absolute;
    width: 360px;
    right: -6rem;
    bottom: -4.5rem;
  }

  &__navigation-content {
    width: 391px;
    height: 316px;
    background: rgba(0, 0, 0, 0.2);
    color: $white;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    position: absolute;
    z-index: 1;
    padding-top: 8.7rem;
  }

  &__navigation-content-link {
    color: white;
    font-size: 0.9rem;
    text-decoration: underline;
    letter-spacing: normal;
  }
}

.subscription-top {
  max-width: 1234px;

  &__btn {
    border: 2px solid $black;
    left: 7%;
    bottom: 23%;
  }
}

.subscription-bottom {
  max-width: 1234px;

  &__left-btn {
    background-color: $dark_rose;
    left: 8.8%;
    bottom: 14%;
  }

  &__right-btn {
    background-color: $primary;
    left: 8.8%;
    bottom: 14%;
  }
}