// variables & functions
@import 'variables';

// base & layout
@import 'base';
@import 'product-blocks';

// header styles
@import 'header';


.special-offer {
  padding: 0;
  font-weight: 750;
  letter-spacing: 0.05rem;

  &__flex {
    background-color: $rose;
    gap: 3.5rem;
  }

  &__link {
    color: $black;
    font-weight: 600;
    text-decoration: underline;
    letter-spacing: normal;
  }

  &__middle {
    font-size: 0.8rem;
    width: 2rem;
    height: 2rem;
    background-color: $white;
    border-radius: 100%;
    padding-top: 0.3%;
  }
}

.carousel-frame {
  padding: 0;

  &__flex{
    padding: 0.8% 0;
  }
}

.carousel-frame-top {
  justify-content: space-between;
  max-width: 1354px;

  &__carousel-image {
    width: 93%;
    max-width: 1234px;
  }

  &__image {
    max-width: 100%;
  }

  &__btn-image {
    color: $white;
    background-color: $dark_rose;
    left: 21.3%;
    bottom: 16%;
    }
  }

.carousel-frame-bottom {
  width: 6.1%;
  padding-top: 0.4%;

  &__pagination {
  margin: 0;
  cursor: pointer;
  width: 100%;
  max-width: 120px;
  }

  &__pagination-image {
    width: 100%;
    max-width: 39px;
  }
}

.search-for-brand {
  padding: 0;
  margin: 0;

  &__flex {
    max-width: 1234px;
  }

  &__image {
    width: 100%;
    max-width: 1234px;
  }

  &__btn-image {
    background-color: $primary;
    left: 7.8%;
    bottom: 27%;
  }
}

@media screen and (max-width: 1200px){
  .special-offer {

    &__middle {
      padding-top: 0.55%;
    }
  }

  .carousel-frame-top {
    justify-content: center;
    max-width: 1234px;

    &__carousel-image {
    width: 100%;
    }

    &__btn-left {
      position: absolute;
      top: 42%;
      left: 1%;    
    }

    &__btn-right {
      position: absolute;
      top: 42%;  
      right: 1%;    
    }
  }
}

.our-collection {
  padding: 0;
  max-width: 1234px;

  &__top {
    padding: 4% 0;
  }

  &__title {
    padding-bottom: 0.8%;
  }

  &__btn {
    color: $black;
    background-color: transparent;
  }

  &__navigation {
    padding: 0;
  }

  &__navigation-row {
    padding: 1.5% 0;
    width: 100%;
    height: 100vh;
    max-width: 1234px;
    max-height: 651px;
    row-gap: 4%;
  }
  
  &__navigation-block {
    position: relative;
    width: 32%;
    max-width: 391px;
    height: 49%;
    max-height: 316px;
    overflow: hidden;
  }

  &__navigation-img {
    position: absolute;
    width: 93%;
    max-width: 360px;
    right: -25%;
    bottom: -20%;
  }

  &__navigation-content {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: $white;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    position: absolute;
    z-index: 1;
    padding-top: 34.3%;
  }

  &__navigation-content-link {
    color: white;
    font-size: 0.9rem;
    text-decoration: underline;
    letter-spacing: normal;
  }
}

.recommended {
  padding: 2% 0;

  &__top {
    padding: 1% 0;
  }
}

@media screen and (max-width: 1200px){
  .recommended-middle {

    &__btn {
      display: none;
    }
  }
}

.new-arrivals-top {
  padding: 1% 0;
}

@media screen and (max-width: 1200px){
  .new-arrivals-middle {

    &__btn {
      display: none;
    }
  }
}

.subscription {
  padding: 0;
}

.subscription-top {
  max-width: 1234px;
  padding: 0;

  &__image {
    padding: 0;
    width: 100%;
    max-width: 1234px;
  }

  &__btn {
    border: 2px solid $black;
    left: 7%;
    bottom: 23%;
    width: initial;
    font-size: 0.8rem;
  }
}

.subscription-bottom {
  max-width: 1234px;
  padding: 0;

  &__left {
    padding: 0;
  }

  &__right {
    padding: 0;
  }

  &__image {
    width: 100%;
  }

  &__left-btn {
    background-color: $dark_rose;
    left: 8.8%;
    bottom: 14%;
  }

  &__right-btn {
    background-color: $primary;
    left: 8.8%;
    bottom: 14%;
  }
}

.best-sellers-top {
  padding: 2% 0;
}

@media screen and (max-width: 1200px){
  .best-sellers-middle {

    &__btn {
      display: none;
    }
  }
}

.security-row {
  width: 100%;
  height: 100%;
  gap: 6%;
  background-color: $primary;
  margin-top: 3%;

  &__delivery {
    max-width: 100%;
    max-height: 100%;
  }
}

.security-box {
  display: flex;
  align-content: center;
  white-space: nowrap;
  gap: 5%;
  color: $white;

  &__image {
    max-height: 20px;
  }

  &__content {
    margin: 0;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1200px){
  .security-box {

    &__content {
      font-size: calc(0.9rem - 0.4vw);
    }
  }
}

.sign-up {
  background-color: $sign-up;
  border-bottom: 1px solid #CCCCCC;
  max-height: 264px;
}

.sign-up-left {
  border-right: 1px solid #CCCCCC;
  padding: 2.4% 4.8%;

  &__title {
    font-size: 1rem;
    font-weight: 750;
    margin: 0;
  }

  &__input {

    color: $button_gray;
  }

  &__input-data {
    width: 40%;
    max-width: 286px;
    border: none;
    border-bottom: 2px solid $black;
    padding: 0.5rem 0 0.5rem 0.5rem;
    max-height: 48px;
  }


  &__input-btn {
    max-height: 42px;
    line-height: 0.8rem;
  }

  &__content {
    max-width: 760px;
    font-size: 0.67rem;
    margin: 0;
  }

  &__content-underline {
  color: $black;
  text-decoration: underline;
  }
}

.sign-up-right {
  padding: 2.4% 4.8%;

  &__title {
    font-size: 1rem;
    font-weight: 750;
    margin: 0;
    padding-bottom: 0.4rem;
  }

  &__bottom-content {
    text-transform: uppercase;
    margin: 0;
  }
}

.footer-top-row {
  width: 100%;
  padding: 3% 4.3%;
  gap: 6%;
}

.footer-top-left {
  max-width: 905px;
  height: 45vh;
  max-height: 340px;
}


.menu-title {
  font-size: 1rem;
  font-weight: 750;
  margin: 0;
  padding-bottom: 13%;
}

.menu-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 15%;
  color: $footer-menu-item;
  font-weight: 400;
  line-height: 190%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 87%;
  max-height: 280px;
}

.menu-link {
  color: $footer-menu-item;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 200%;
  text-decoration: none;
}

.footer-icon {
  max-width: 460px;
  max-height: 195px;

  &__social-media-btn {
    background-color: transparent;
    border: none;
    max-width: 40px;
  }

  &__change-country-dropdown {
    color: $black;

  }

  &__subscription-club-btn {
    background-color: transparent;
    border: 1px solid $button_gray;
    padding: 0.5rem 1.1rem;
  }

  &__subscription-club-link {
    color: $black;
    letter-spacing: 0.5%;
  }
}

@media screen and (max-width: 1200px){
  .menu-title {
    font-size: calc(1rem - 0.3vw);
    padding-bottom: 13%;
  }
  
  .menu-link {
    font-size: calc(0.8rem - 0.3vw);
  }
}

.footer-end {
  background-color: $black;
  color: $white;
  line-height: 150%;

  &__top-link {
    color: $white;
    text-decoration: underline;
  }

  &__middle-content {
    max-width: 727px;
    font-weight: 400;
    font-size: 0.69rem;
    line-height: 150%;
  }
}

@media screen and (max-width: 1200px){
  .footer-end {
  
    &__middle-content {
      font-size: calc(0.69rem - 0.3vw);

    }
  }
}
